<h2>Your Account is not activated Enter registered email to get account activation link</h2>

<form method="post" action="/activateAccount" id="login">
    <input type="hidden" name="_csrf" />
    <div class="form-group">
        <input type="text" class="form-control" placeholder="Enter Email" id="email" name="email"
            data-rule-required="true" data-msg-required="Please enter Email address." data-rule-email="true"
            data-msg-email="Please enter valid Email address.">
    </div>
    <div class="btn-gorup">
        <button type="submit" id="submit_login" class="btn btn-common">Login</button>
        <!-- <a href="buyer-dashboard" class="btn btn-common">Login</a> -->
    </div>
</form>