<!DOCTYPE html>
<html lang="ru">

<!-- Mirrored from demo.artureanec.com/html/cryptoland/demo_4/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 27 Apr 2021 12:57:06 GMT -->

<head>

	<meta charset="utf-8">
	<!-- <base href="/"> -->

	<title>Utopia Community Token</title>
	<meta name="description" content="">

	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<!-- Template Basic Images Start -->
	<meta property="og:image" content="path/to/image.html">
	<link rel="icon" href="img/favicon/favicon.png">
	<link rel="apple-touch-icon" sizes="180x180" href="img/favicon/apple-touch-icon.png">
	<!-- Template Basic Images End -->

	<!-- Custom Browsers Color Start -->
	<meta name="theme-color" content="#000">
	<!-- Custom Browsers Color End -->

	<link rel="stylesheet" href="css/main.min.css">

	<!-- Load google font
	================================================== -->
	<script type="text/javascript">
		WebFontConfig = {
			google: { families: ['Catamaran:300,400,600,700', 'Raleway:100,700', 'Roboto:700,900'] }
		};
		(function () {
			var wf = document.createElement('script');
			wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
				'://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js';
			wf.type = 'text/javascript';
			wf.async = 'true';
			var s = document.getElementsByTagName('script')[0];
			s.parentNode.insertBefore(wf, s);
		})();
	</script>

	<!-- Load other scripts
	================================================== -->
	<script type="text/javascript">
		var _html = document.documentElement;
		_html.className = _html.className.replace("no-js", "js");
	</script>

	<style>
		.preloader {
			width: 100%;
			height: 100%;
			position: fixed;
			background-color: #fff;
			z-index: 9999;
		}
	</style>

</head>

<body>

	<div class="preloader"></div>

	<div class="wrapper">

		<header class="header">
			<a href="#" class="logo">
				<div class="logo__img"></div>
				<div class="logo__title">Utopia Token</div>
			</a>

			<ul class="menu">
				<li class="menu__item">
					<a href="#Home" class="menu__link">Home</a>
				</li>
				<li class="menu__item">
					<a href="#about" class="menu__link">About</a>
				</li>
				<li class="menu__item">
					<a href="#map" class="menu__link">Roadmap</a>
				</li>
				<li class="menu__item">
					<a href="#token" class="menu__link">Token Offering</a>
				</li>
				<li class="menu__item">
					<a href="#faq" class="menu__link">FAQ</a>
				</li>
				<li class="menu__item">
					<a href="#team" class="menu__link">Team</a>
				</li>
				<li class="menu__item">
					<a href="#blog" class="menu__link">Blog</a>
				</li>


				<li class="menu__item">
					<a href="#contact" class="menu__link">Contact</a>
				</li>
				<li class="menu__item">
					<a href="#subscribe" class="menu__link">Subscribe</a>
				</li>
				<li class="menu__item">
					<a href="#learn" class="menu__link">Learn</a>
				</li>
			</ul>

			<div class="header__right">
				<select class="select">
					<option value="en">en</option>
					<option value="ua">ua</option>
					<option value="ger">ger</option>
				</select>

			</div>

			<div class="btn-menu">
				<div class="one"></div>
				<div class="two"></div>
				<div class="three"></div>
			</div>
		</header>

		<div class="fixed-menu">
			<div class="fixed-menu__header">
				<a href="#" class="logo">
					<div class="logo__img"></div>
					<div class="logo__title">Utopia Token</div>
				</a>

				<div class="btn-close">
					<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1"
						x="0px" y="0px" viewBox="0 0 47.971 47.971" style="enable-background:new 0 0 47.971 47.971;"
						xml:space="preserve" width="512px" height="512px">
						<path
							d="M28.228,23.986L47.092,5.122c1.172-1.171,1.172-3.071,0-4.242c-1.172-1.172-3.07-1.172-4.242,0L23.986,19.744L5.121,0.88   c-1.172-1.172-3.07-1.172-4.242,0c-1.172,1.171-1.172,3.071,0,4.242l18.865,18.864L0.879,42.85c-1.172,1.171-1.172,3.071,0,4.242   C1.465,47.677,2.233,47.97,3,47.97s1.535-0.293,2.121-0.879l18.865-18.864L42.85,47.091c0.586,0.586,1.354,0.879,2.121,0.879   s1.535-0.293,2.121-0.879c1.172-1.171,1.172-3.071,0-4.242L28.228,23.986z"
							fill="#006DF0" />
					</svg>
				</div>
			</div>

			<div class="fixed-menu__content">

				<ul class="mob-menu">
					<li class="mob-menu__item">
						<a href="#about" class="mob-menu__link">About</a>
					</li>
					<li class="mob-menu__item">
						<a href="#services" class="mob-menu__link">Services</a>
					</li>
					<li class="mob-menu__item">
						<a href="#map" class="mob-menu__link">Road Map</a>
					</li>
					<li class="mob-menu__item">
						<a href="#stat" class="mob-menu__link">Statistic</a>
					</li>
					<li class="mob-menu__item">
						<a href="#token" class="mob-menu__link">Token</a>
					</li>
					<li class="mob-menu__item">
						<a href="#docs" class="mob-menu__link">WhitePappers</a>
					</li>
					<li class="mob-menu__item">
						<a href="#team" class="mob-menu__link">Team</a>
					</li>
					<li class="mob-menu__item">
						<a href="#faq" class="mob-menu__link">FAQ</a>
					</li>
				</ul>

				<select class="select">
					<option value="ru">ru</option>
					<option value="ua">ua</option>
					<option value="en">en</option>
				</select>




			</div>
		</div>

		<section class="promo">
			<div class="container">
				<div class="row">
					<div class="col-12 promo__content" data-aos="fade-right">
						<h1>UTOPIA COMMUNITY TOKEN <span></span></h1>
						<p>
							Become a member of the community. Do good in the world and benefit from a strong community
							cohesion, with all its benefits!
						</p>

						<div class="timer-wrap">
							<div id="timer" class="timer"></div>
							<div class="timer__titles">
								<div>Days</div>
								<div>Hours</div>
								<div>Minutes</div>
								<div>Seconds</div>
							</div>
						</div>

						<div class="promo__btns-wrap">
							<a href="#" class="btn btn--medium btn--orange"><span>Buy Tokens 47% Off</span></a>
							<a href="#" class="btn btn--big btn--blue">WhitePappers</a>
						</div>

						<div class="payments">
							<img src="img/visa.png" alt="">
							<img src="img/mc.png" alt="">
							<img src="img/bitcoin.png" alt="">
							<img src="img/ethereum.png" alt="">
							<img src="img/t1.png" alt="">
							<img src="img/tron.png" alt="">

						</div>
					</div>
				</div>
				<img src="img/promo-bg.png" data-aos="fade-up" alt="" class="promo__img">

			</div>
			<div class="scroll-down">
				<img src="img/scroll-down.png" alt="">
			</div>
		</section>

		<section class="economy">
			<div class="container">
				<div class="row">
					<div class="col-lg-10 offset-lg-1">

						<a data-jarallax-element="-40" herf="https://youtu.be/PoO4CraFZkU"
							class="economy__video-btn video-btn popup-youtube">
							<img src="img/video-btn.png" alt="">
						</a>

						<div class="economy__block">
							<div class="economy__block-content">
								<div
									class="section-header section-header--white section-header--tire section-header--small-margin">
									<h4>About Project</h4>
									<h2>
										The goal of Utopia Community is <span>to establish globally represented
											community that supports diverse projects and helps each other</span>
									</h2>
								</div>
								<p>
									Our aim is to grow worldwide into a huge social community whose mission is to make
									the world a better and more beautiful place for everyone through many social
									projects.
								</p>
								<ul>
									<li>
										The projects we will support include environmental protection, relief projects,
										land acquisition worldwide and a social organization within the community where
										members can support each other financially and in other ways. ​
									</li>
									<li>
										One big aspect is the acquisition of land worldwide, either to protect the
										environment or to create areas where everyone in the Community can live free of
										charge or take holidays, in accordance with the laws of the respective
										countries. Thus, we also want to promote alternative lifestyles. ​

									</li>
									<li>
										All this is made possible by the Utopia Community Token, which serves as an
										investment for the realization of the individual projects, and as an internal
										means of payment within the community.
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
			<img src="img/video-bg.png" alt="" class="economy__bg">
		</section>

		<section class="section about" id="about">
			<div class="container">
				<div class="row">
					<div data-aos="fade-right" class="col-lg-7">
						<div
							class="section-header section-header--animated section-header--tire section-header--small-margin">
							<h1>Why Choose Utopia?</h1>
							<h2><span>Utopia is derived from the word utopia meaning an place in which everything is
									perfect.</span>
							</h2>
						</div>
						<div class="about__animated-content">
							<p>
								We want to make the world a place worth living in for everyone. That's why we named this
								company Utopia. We've seen what people are capable of when they stick together. The key
								event that finally brought us to the idea was the community of Wallstreet bets. These
								have done incredible things to the stock market by sticking together. This has made us
								realize that if we can create a strong community, together we can truly change the world
								into something great. Together we can make it!
							</p>
							<ul>
								<li>
									That's why we thought about how we can build such a community and what visions we
									want to stand behind. We have come up with 5 basic pillars which should form the
									basis of Utopia.

									​
								</li>
								<li>The project will go through three phases for completion, till it is completely
									managed by its community.</li>
								<li>We the developer Team are just creating the platform, but you can decide what its
									purpose will be!</li>
							</ul>
						</div>
					</div>
					<div class="col-lg-5 align-items-center">
						<img src="img/about-img.png" class="about__img img-responsive" alt="">
					</div>
				</div>
			</div>
			<img src="img/about-bg.png" data-jarallax-element="40" alt="" class="about__bg">
		</section>

		<!-- <section class="section section--no-pad-bot services" id="services">
			<div class="container">
				<div class="row">
					<div class="col">
						<div class="section-header section-header--animated section-header--center section-header--medium-margin">
							<h4>Awesome services</h4>
							<h2>Five Pillars</h2>
						</div>

						<div class="services__items">
							<div class="services__left">
								<div data-aos="fade-up" class="service">
									<div class="service__bg" style="background-color: #e85f70; box-shadow: 0 0 51px rgba(232, 95, 112, 0.74); box-shadow: 0 0 51px rgba(232, 95, 112, 0.74);"></div>
									<img src="https://lh3.googleusercontent.com/bNgjiv-cyhibst10_KyvJlU4NjHRk6j6hSGd7o2bu_dBNDw0KpAQiprO-ePUlXkFyMLJ2A=s85" alt="">
									<div class="service__title">
										Envoirmental Protection
									</div>
								</div>
								<div data-aos="fade-up" data-aos-delay="200" class="service">
									<div class="service__bg" style="background-color: #fa8936; background-image: linear-gradient(-234deg, #ea9d64 0%, #fa8936 100%); box-shadow: 0 0 51px rgba(250, 137, 54, 0.74);"></div>
									<img src="https://lh3.googleusercontent.com/JQRCddCkr-YVTW1bmGmQeWOOoYIJQX3laxLjOt5WnpgbiG92Z2Lj-bYfz2weU9FJAiGkW0s=s85" alt="">
									<div class="service__title">
										Charity
									</div>
								</div>
							
							<div data-aos="fade-up" class="service" data-aos-delay=200>
									<div class="service__bg" style="background-color: #4b0082; box-shadow: 0 0 51px rgba(232, 95, 112, 0.74); box-shadow: 0 0 51px rgba(232, 95, 112, 0.74);"></div>
									<img src="https://lh3.googleusercontent.com/z-FchF1MYEI6g8NkOogRZW_-Ov3-VRGMaeYmM902YcLPnmSkoMJ3-78LX5gaNjtV23slRQ=s85" alt="">
									<div class="service__title">
										Hodl Program
									</div>
								</div>
							<div class="services__right">
								<div data-aos="fade-up" data-aos-delay="400" class="service" >
									<div class="service__bg" style="background-image: linear-gradient(-234deg, #6ae472 0%, #4bc253 100%); box-shadow: 0 0 51px rgba(75, 194, 83, 0.74);"></div>
									<img src="https://lh3.googleusercontent.com/jgN9pR_rfvJtk6eQt7fPtWBRpMnsi41gCOUetGyL7nd57owPGekefah5QD5pg2i0TL0zZg=s85" alt="">
									<div class="service__title">
										Real Estates
									</div>
								</div>
								<div data-aos="fade-up" data-aos-delay="600" class="service">
									<div class="service__bg" style="background-color: #0090d5; background-image: linear-gradient(-234deg, #29aceb 0%, #0090d5 100%); box-shadow: 0 0 51px rgba(0, 144, 213, 0.74);"></div>
									<img src="https://lh3.googleusercontent.com/5Rs-fHmemakUxwb5xzDh0TbvVkksZTtj6BZo188RcGqPRzANSQzygyLuaVhWdwfCg9wqbWc=s85" alt="">
									<div class="service__title">
										Donation and Help Platform within the                       Community 
									</div>

								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<img src="img/services-bg1.png" alt="" class="services__bg">
			<img src="img/services-bg-1.png" class="services__cosmos" alt="">
		</section> -->


		<section class="section cases pt-0">
			<div class="container">
				<div class="row">
					<div class="col">
						<div
							class="section-header section-header--animated section-header--center section-header--medium-margin">
							<h4>Awesome services</h4>
							<h2>Five Pillars</h2>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col cases__list">
						<div data-aos="fade-right" class="cases__item">
							<img src="new-img/piller1.png" alt="" class="cases__item-icon" style="height: 100px;">
							<div class="cases__item-content">
								<div class="cases__item-title">
									Enviromental Protection
								</div>
								<p class="cases__item-text">
									Because the planet of earth is our only home, we are responsible for it. Thus
									environmental protection is a priority in our community. This is a point in our
									project platform where the community.
								</p>
							</div>
						</div>
						<div data-aos="fade-left" data-aos-delay="200" class="cases__item">
							<img src="new-img/piller2.png" alt="" class="cases__item-icon" style="height: 100px;">
							<div class="cases__item-content">
								<div class="cases__item-title">
									Charity
								</div>
								<p class="cases__item-text">
									Another important aspect is the support of existing, but also the creation of new
									aid projects by the community. Examples include food deliveries to crisis areas or
									educational projects in Third World countries.
								</p>
							</div>
						</div>
						<div data-aos="fade-left" data-aos-delay="200" class="cases__item">
							<img src="new-img/piller4.png" alt="" class="cases__item-icon" style="height: 100px;">
							<div class="cases__item-content">
								<div class="cases__item-title">
									Donation and Help Platform within the Community
								</div>
								<p class="cases__item-text">
									Another aspect of the community is the internal donation and help platform, where
									members can help each other within the community. Should a member, for whatever
									reason, find themselves in dire financial straits or have other problems,
								</p>
							</div>
						</div>
						<div data-aos="fade-right" class="cases__item">
							<img src="new-img/piller3.png" alt="" class="cases__item-icon" style="height: 100px;">
							<div class="cases__item-content">
								<div class="cases__item-title">
									Real Estates
								</div>
								<p class="cases__item-text">
									The third pillar is the accumulation of property. What the community would like to
									acquire can be decided by itself. Any property belongs to every single person in the
									community.
								</p>
							</div>
						</div>

						<div data-aos="fade-right" class="cases__item">
							<img src="new-img/piller5.png" alt="" class="cases__item-icon" style="height: 100px;">
							<div class="cases__item-content">
								<div class="cases__item-title">
									Hodl Program
								</div>
								<p class="cases__item-text">
									In order to achieve a good increase in value, it is necessary that the community
									holds a portion of their cryptocurrency.

									On the one hand, this benefits the Utopia token owners, because with a growing
									number of community members the value of the cryptocurrency will increase steadily.


								</p>
							</div>
						</div>

					</div>
				</div>

			</div>
			<img src="img/cases-bg.png" class="cases__bg" alt="">
			<img src="img/cases-imgs.png" class="cases__elements" alt="">
		</section>

		<section class="section map" id="map">
			<div class="container">
				<div class="row">
					<div class="col">
						<div
							class="section-header section-header--animated section-header--center section-header--medium-margin">
							<h4>Our way</h4>
							<h2>Road Map</h2>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-6 offset-lg-4 col-sm-8 offset-sm-4">

						<div class="road">


							<div class="road__item">
								<div class="road__item-metka"></div>
								<div class="road__item-content">
									<div class="road__item-title">

										January - February
										2021
									</div>
									<p>
										Website and Token Creation
									</p>
								</div>

							</div>

							<div class="road__item">
								<div class="road__item-metka"></div>
								<div class="road__item-content">
									<div class="road__item-title">
										March-April
										2021
									</div>
									<p>
										Crowdfunding
									</p>
								</div>
							</div>

							<div class="road__item">
								<div class="road__item-metka"></div>
								<div class="road__item-content">
									<div class="road__item-title">
										May-June
										2021
									</div>
									<p>
										Programming of the individual community platforms and doing a lot of advertising
										for the ICO
									</p>
								</div>
							</div>

							<div class="road__item road__item-active">
								<div class="road__item-metka"></div>
								<div class="road__item-content">
									<div class="road__item-title">
										July-August
										2021
									</div>
									<p>
										ICO Round 1
									</p>
								</div>
							</div>

							<div class="road__item road__item-next">
								<div class="road__item-metka"></div>
								<div class="road__item-content">
									<div class="road__item-title">
										September-October
										2021
									</div>
									<p>
										ICO Round 2 and launch of the Utopia online forum
									</p>
								</div>
							</div>

							<div class="road__item road__item-next">
								<div class="road__item-metka"></div>
								<div class="road__item-content">
									<div class="road__item-title">
										November-December
										2021
									</div>
									<p>
										ICO Round 3 and the programming of an own blockchain
									</p>
								</div>
							</div>
							<div class="road__item road__item-next">
								<div class="road__item-metka"></div>
								<div class="road__item-content">
									<div class="road__item-title">
										January-Feburary
										2022
									</div>
									<p>
										List the coin on Stock Exchanges
									</p>
								</div>
							</div>
							<div class="road__item road__item-next">
								<div class="road__item-metka"></div>
								<div class="road__item-content">
									<div class="road__item-title">
										Feburary
										2022
									</div>
									<p>
										Release of the project platforms, the projects can be launched now
									</p>
								</div>
							</div>
							<div class="road__item road__item-next">
								<div class="road__item-metka"></div>
								<div class="road__item-content">
									<div class="road__item-title">
										December
										2022
									</div>
									<p>
										The election of 12 trustees for the Utopia Council
									</p>
								</div>
							</div>



						</div>

					</div>
				</div>
				<img src="img/road_map.png" data-jarallax-element="-40" alt="" class="map__title-bg">
			</div>
		</section>










		<section class="section token" id="token">
			<div class="container">
				<div class="row">
					<div class="col-md-6">
						<div class="chart">
							<img class="chart__bg" src="img/token-img.png" alt="" style="width: 100%;">

						</div>
					</div>

					<div data-aos="fade-centre" class="col-lg-6 token__animated-content">
						<div class="section-header section-header--tire section-header--small-margin">
							<h4>About token</h4>

						</div>

						<ul class="token__info-list">

							<li>
								<span>Token Symbol:</span> UWCT
							</li>
							<li>
								<span>Token Avaliable for UWCT :</span> 100 000 000 000 UWCT
							</li>
							<li>
								<span>Token Price:</span>0.60 USD
							</li>
							<li>
								<span>Soft Cap:</span> 20 000 000 UWCT
							</li>
							<li>
								<span>Hard Cap:</span> 17 000 000 000 UWCT
							</li>
							<li>
								<span>Token Sale Period:</span> Mar 2021-Dec 2021
							</li>
							<li>
								<span>Accepted currencies:</span>EUR, USD,BTC,ETH,TETHER
							</li>
						</ul>

					</div>
				</div>
				<div class="row" style="margin-top: 100px;">
					<div class="col-md-12">

						<div class="token__desc text-center">
							<h2></h2>
							<div class="token__desc-title">
								Community Membership
							</div>
							<div class="section-header section-header--tire section-header--small-margin">
								<h4>Rights within the Community</h4>

							</div>
							<div class="token__desc-text">
								<p>
									A prerequisite for membership in the community is to keep tokens in the Utopia
									Wallet. Depending on the amount of coins held, certain functions are activated. If
									you withdraw tokens over time, the rights are either restricted if there are
									insufficient numbers within the community, or if there are fewer than 50 tokens, the
									profile is frozen until you have enough token coverage in the wallet. This serves to
									preserve the value of the cryptocurrency. This is the best way we have enough
									capital to make our projects real.
								</p>

							</div>
						</div>

						<div class="text-center">
							<a href="#" class="btn btn--small btn--uppercase btn--orange"><span>Buy Token</span></a>
						</div>

					</div>
				</div>
			</div>
		</section>

		<section class="docs" id="docs">
			<div class="container">
				<div class="row">
					<div class="col">
						<div
							class="section-header section-header--animated seaction-header--center section-header--tire section-header--medium-margin">
							<h4>Our files</h4>
							<h2>Documents</h2>
						</div>
					</div>
				</div>
				<div class="row">
					<div data-aos="fade-up" class="col-lg-3 col-md-6 col-sm-6 col-12">
						<a href="#" class="doc">
							<div class="doc__content">
								<img src="img/pdf.svg" alt="">
								<div class="doc__title">
									Terms & Conditions
								</div>
							</div>
						</a>
					</div>
					<div data-aos="fade-up" data-aos-delay="200" class="col-lg-3 col-md-6 col-sm-6 col-12">
						<a href="#" class="doc">
							<div class="doc__content">
								<img src="img/pdf.svg" alt="">
								<div class="doc__title">
									White Pappers
								</div>
							</div>
						</a>
					</div>
					<div data-aos="fade-up" data-aos-delay="400" class="col-lg-3 col-md-6 col-sm-6 col-12">
						<a href="#" class="doc">
							<div class="doc__content">
								<img src="img/pdf.svg" alt="">
								<div class="doc__title">
									Privacy Policy
								</div>
							</div>
						</a>
					</div>
					<div data-aos="fade-up" data-aos-delay="600" class="col-lg-3 col-md-6 col-sm-6 col-12">
						<a href="#" class="doc">
							<div class="doc__content">
								<img src="img/pdf.svg" alt="">
								<div class="doc__title">
									Business Profile
								</div>
							</div>
						</a>
					</div>
				</div>
			</div>
			<img src="img/docs-bg.png" data-jarallax-element="40" alt="" class="docs__bg">
		</section>


		<section class="data token-data section section--no-pad-bot">
			<div class="container">
				<div class="row">
					<div class="col">
						<div
							class="section-header section-header--animated section-header--medium-margin section-header--center">
							<h2>WE ARE ON PRE-SALE</h2>

							<div class="bg-title">
								Token Distribution
							</div>
						</div>
					</div>
				</div>
				<div class="row chart__row align-items-center">
					<div class="col-lg-6">
						<div class="chart">

							<img class="chart" src="img/chart.png" alt="">
							<div class="chart__wrap">
								<canvas id="myChart" width="1" height="1"></canvas>
							</div>
						</div>
					</div>
					<div data-aos="fade-left" class="col-lg-6 token-data__animated-content">
						<div class="chart__title">
							Token Distribution
						</div>
						<p class="chart__text">
							The token sale is dated up to 2021 and it has different bonuses according to the sale that
							you acquire the Coin token.
						</p>
						<ul class="chart__legend">
							<li>
								<span style="width: 20px;"></span>
								Team 1%
							</li>
							<li>
								<span style="width: 40px;"></span>
								Marketing 2%
							</li>
							<li>
								<span style="width: 55px;"></span>
								Pre-Sales 17%
							</li>
							<li>
								<span style="width: 153px;"></span>
								Public-Sales 30%
							</li>
							<li>
								<span style="width: 289px;"></span>
								Community Capital 50%
							</li>

						</ul>
					</div>
				</div>
			</div>
		</section>

		<section class="section faq" id="faq">
			<div class="container">
				<div class="row">
					<div class="col">
						<div class="section-header section-header--center section-header--medium-margin">
							<h4>FAQ</h4>
							<h2>Frequency Asked Questions</h2>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-8 offset-lg-2">

						<ul class="accordion">
							<li>
								<a>How do I buy Utopia-Token?</a>
								<p>
									You can buy Utopia Tokens through the pre-sale on our website. And later on
									different exchanges at the public sale.
								</p>
							</li>
							<li>
								<a>What is an TR-20 Token?</a>
								<p>
									The major difference between TR20 tokens and other cryptocurrencies is that TR20
									tokens are created and hosted on the Tron blockchain. A big advantage of the TR20
									Token is the fast money transfer and the low transfer fees.
								</p>
							</li>
							<li>
								<a>What happens if the token price rises so high that the token becomes too expensive
									for many to buy the necessary number of tokens to be a base member?</a>
								<p>
									If the price of the token rises so high that the base membership becomes
									unaffordable for many people, the community is free to launch a new token on the
									Utopia blockchain, which on the one hand gives new people the chance to participate
									in the community, and on the other hand brings new capital for projects into the
									community.
								</p>
							</li>
							<li>
								<a>How many projects can be launched per month?</a>
								<p>
									Every month 1% of the company's capital is made available for the various projects.
									It is possible
									to launch as many projects as possible every month until 1% of the company's capital
									is used up. Each member with voting rights has 3 votes which can be used for
									projects of their choice. The project with most votes will be implemented. If there
									is still money left over, the next best rated project will be carried out. The best
									rated projects are carried out until 1% of the company's money is used up for the
									month.
								</p>
							</li>
							<li>
								<a>What percentage of the company's money goes into each of the three main aspects each
									month?</a>
								<p>
									Environmental Protection: 50%
									Charity: 25%
									Land acquisition: 25%
								</p>
							</li>

						</ul>

					</div>
				</div>
			</div>
		</section>

		<!--<section class="section section--no-pad-top team" id="team">
			<div class="container">
				<div class="row">
					<div class="col">
						<div class="section-header section-header--tire section-header--medium-margin">
							<h4>Our brain</h4>
							<h2>Awesome Team</h2>
						</div>
					</div>
				</div>
				<div class="row">
					<div data-aos="fade-right" class="col-lg-4 col-xl-4 col-6">
						<div class="team-member">
							<img class="team-member__avatar" src="img/advisor-avatar-1.jpg" alt="">
							<div class="team-member__content">
								<div class="team-member__name">Leena</div>
								<div class="team-member__post">Project Coordinator</div>
								<ul class="team-member__social">
									<li><a href="#"><img src="img/facebook.svg" alt=""></a></li>
									<li><a href="#"><img src="img/linkedin.svg" alt=""></a></li>
									<li><a href="#"><img src="img/google-plus.svg" alt=""></a></li>
								</ul>
							</div>
						</div>
					</div>
					<div data-aos="fade-right" data-aos-delay="100" class="col-lg-4 col-xl-4 col-6">
						<div class="team-member">
							<img class="team-member__avatar" src="img/advisor-avatar-2.jpg" alt="">
							<div class="team-member__content">
								<div class="team-member__name">Namita</div>
								<div class="team-member__post">Tester</div>
								<ul class="team-member__social">
									<li><a href="#"><img src="img/facebook.svg" alt=""></a></li>
									<li><a href="#"><img src="img/linkedin.svg" alt=""></a></li>
									<li><a href="#"><img src="img/google-plus.svg" alt=""></a></li>
								</ul>
							</div>
						</div>
					</div>
					<div data-aos="fade-right" data-aos-delay="200" class="col-lg-4 col-xl-4 col-6">
						<div class="team-member">
							<img class="team-member__avatar" src="img/advisor-avatar-3.jpg" alt="">
							<div class="team-member__content">
								<div class="team-member__name">Naveen</div>
								<div class="team-member__post">Developer</div>
								<ul class="team-member__social">
									<li><a href="#"><img src="img/facebook.svg" alt=""></a></li>
									<li><a href="#"><img src="img/linkedin.svg" alt=""></a></li>
									<li><a href="#"><img src="img/google-plus.svg" alt=""></a></li>
								</ul>
							</div>
						</div>
					</div>
	
				</div>
			</div>
			
			<img src="img/team-bg.png" data-jarallax-element="40" alt="" class="team__bg">
            
		</section>-->
		<section class="section section--no-pad-top team" id="team">
			<div class="container">
				<div class="row">
					<div class="col">
						<div class="section-header section-header--tire section-header--medium-margin">
							<h4>Our brain</h4>
							<h2>Awesome Team</h2>
						</div>
					</div>
				</div>
				<div class="row">
					<div data-aos="fade-right" class="col-lg-4 col-xl-3 col-6">
						<div class="team-member">
							<img class="team-member__avatar" src="img/ava1.jpg" alt="">
							<div class="team-member__content">
								<div class="team-member__name">Michel Büdenbender</div>
								<div class="team-member__post">Buisness Development & Marketing</div>
								<ul class="team-member__social">

									<li><a href="#"><img src="img/linkedin.svg" alt=""></a></li>

								</ul>
							</div>
						</div>
					</div>
					<div data-aos="fade-right" data-aos-delay="100" class="col-lg-4 col-xl-3 col-6">
						<div class="team-member">
							<img class="team-member__avatar" src="img/ava2.jpg" alt="">
							<div class="team-member__content">
								<div class="team-member__name">Jeremy Lemkemeier</div>
								<div class="team-member__post">Web & Multimedia Management</div>
								<ul class="team-member__social">

									<li><a href="#"><img src="img/linkedin.svg" alt=""></a></li>

								</ul>
							</div>
						</div>
					</div>
					<div data-aos="fade-right" data-aos-delay="200" class="col-lg-4 col-xl-3 col-6">
						<div class="team-member">
							<img class="team-member__avatar" src="img/ava3.jpg" alt="">
							<div class="team-member__content">
								<div class="team-member__name">Cedrik Kleine-Beek</div>
								<div class="team-member__post">Finance & Business Modeling</div>
								<ul class="team-member__social">

									<li><a href="#"><img src="img/linkedin.svg" alt=""></a></li>

								</ul>
							</div>
						</div>
					</div>
					<div data-aos="fade-right" data-aos-delay="300" class="col-lg-4 col-xl-3 col-6">
						<div class="team-member">
							<img class="team-member__avatar" src="img/ava4.jpg" alt="">
							<div class="team-member__content">
								<div class="team-member__name">Yuri Grenz</div>
								<div class="team-member__post">Marketing & Project Coordination</div>
								<ul class="team-member__social">

									<li><a href="#"><img src="img/linkedin.svg" alt=""></a></li>

								</ul>
							</div>
						</div>
					</div>
					<div data-aos="fade-right" class="col-lg-4 col-xl-3 col-6">
						<div class="team-member">
							<img class="team-member__avatar" src="img/ava5.jpg" alt="">
							<div class="team-member__content">
								<div class="team-member__name">Chris Lemkemeier</div>
								<div class="team-member__post">Operations & Compliance</div>
								<ul class="team-member__social">

									<li><a href="#"><img src="img/linkedin.svg" alt=""></a></li>

								</ul>
							</div>
						</div>
					</div>
					<div data-aos="fade-right" data-aos-delay="100" class="col-lg-4 col-xl-3 col-6">
						<div class="team-member">
							<img class="team-member__avatar" src="img/ava6.jpg" alt="">
							<div class="team-member__content">
								<div class="team-member__name">Philipp Hauschke</div>
								<div class="team-member__post">Project Manager</div>
								<ul class="team-member__social">

									<li><a href="#"><img src="img/linkedin.svg" alt=""></a></li>

								</ul>
							</div>
						</div>
					</div>
					<div data-aos="fade-right" data-aos-delay="200" class="col-lg-4 col-xl-3 col-6">
						<div class="team-member">
							<img class="team-member__avatar" src="img/advisor-avatar-1.jpg" alt="">
							<div class="team-member__content">
								<div class="team-member__name">Leena Niley</div>
								<div class="team-member__post">Project Manager</div>
								<ul class="team-member__social">

									<li><a href="#"><img src="img/linkedin.svg" alt=""></a></li>

								</ul>
							</div>
						</div>
					</div>
					<div data-aos="fade-right" data-aos-delay="300" class="col-lg-4 col-xl-3 col-6">
						<div class="team-member">
							<img class="team-member__avatar" src="img/advisor-avatar-2.jpg" alt="">
							<div class="team-member__content">
								<div class="team-member__name">Namita Gupta</div>
								<div class="team-member__post">Tester</div>
								<ul class="team-member__social">

									<li><a href="#"><img src="img/linkedin.svg" alt=""></a></li>

								</ul>
							</div>
						</div>
					</div>
					<div data-aos="fade-right" class="col-lg-4 col-xl-3 col-6">
						<div class="team-member">
							<img class="team-member__avatar" src="img/advisor-avatar-3.jpg" alt="">
							<div class="team-member__content">
								<div class="team-member__name">Naveen Agahari</div>
								<div class="team-member__post">Developer</div>
								<ul class="team-member__social">

									<li><a href="#"><img src="img/linkedin.svg" alt=""></a></li>

								</ul>
							</div>
						</div>
					</div>

				</div>
			</div>
			<img src="img/team-bg.png" data-jarallax-element="40" alt="" class="team__bg">
		</section>




		<section class="news" id="blog">
			<div class="container">
				<div class="row">
					<div class="col">
						<div class="section-header section-header--center section-header--small-margin">
							<h4>In the world</h4>
							<h2>Blogs</h2>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col">

						<div class="news-carousel owl-carousel">
							<a data-aos="fade-up" data-aos-delay="200" href="#" class="news-carousel__item">
								<div class="news-carousel__item-body">
									<img class="blog"
										src="https://static.wixstatic.com/media/561e38_32856e0d07a243758ddc0d26aaa1da54~mv2.jpg/v1/fill/w_925,h_617,al_c,q_90,usm_0.66_1.00_0.01/561e38_32856e0d07a243758ddc0d26aaa1da54~mv2.webp">
									<h3 class="news-carousel__item-title">
										We are on our way!
									</h3>
									<p>Join us and be a part of the Utopia Community!Stay together! Get it contact to
										each other. Speak with your friends. Try to raise and help this community! Be
										the person of tommorrow! Be a part of a new chapter in the world! The more
										people participate actively in this project, the greater things we will be able
										to do! </p>
									<div class="news-carousel__item-data">
										May 2021
									</div>
								</div>
							</a>

							<a data-aos="fade-up" data-aos-delay="200" href="#" class="news-carousel__item">
								<div class="news-carousel__item-body">
									<img class="blog"
										src="https://static.wixstatic.com/media/561e38_32856e0d07a243758ddc0d26aaa1da54~mv2.jpg/v1/fill/w_925,h_617,al_c,q_90,usm_0.66_1.00_0.01/561e38_32856e0d07a243758ddc0d26aaa1da54~mv2.webp">

									<h3 class="news-carousel__item-title">
										We are on our way!
									</h3>
									<p>Join us and be a part of the Utopia Community!Stay together! Get it contact to
										each other. Speak with your friends. Try to raise and help this community! Be
										the person of tommorrow! Be a part of a new chapter in the world! The more
										people participate actively in this project, the greater things we will be able
										to do! </p>
									<div class="news-carousel__item-data">
										May 2021
									</div>
								</div>
							</a>

							<a data-aos="fade-up" data-aos-delay="200" href="#" class="news-carousel__item">
								<div class="news-carousel__item-body">
									<img class="blog"
										src="https://static.wixstatic.com/media/561e38_32856e0d07a243758ddc0d26aaa1da54~mv2.jpg/v1/fill/w_925,h_617,al_c,q_90,usm_0.66_1.00_0.01/561e38_32856e0d07a243758ddc0d26aaa1da54~mv2.webp">
									<h3 class="news-carousel__item-title">
										We are on our way!
									</h3>
									<p>Join us and be a part of the Utopia Community!Stay together! Get it contact to
										each other. Speak with your friends. Try to raise and help this community! Be
										the person of tommorrow! Be a part of a new chapter in the world! The more
										people participate actively in this project, the greater things we will be able
										to do! </p>
									<div class="news-carousel__item-data">
										May 2021
									</div>
								</div>
							</a>



						</div>

					</div>
				</div>
			</div>
		</section>



		<section class="partners">
			<div class="container">
				<div class="row">
					<div class="col">
						<div class="section-header section-header--tire section-header--medium-margin">
							<h4>Our friends</h4>
							<h2>Partners</h2>
						</div>

						<div class="logoes">
							<div>
								<img src="img/partners-logo-1.png" alt="">
							</div>
							<div>
								<img src="img/partners-logo-2.png" alt="">
							</div>
							<div>
								<img src="img/partners-logo-3.png" alt="">
							</div>
							<div>
								<img src="img/partners-logo-4.png" alt="">
							</div>
							<div>
								<img src="img/partners-logo-5.png" alt="">
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

		<section class="section contact">
			<div class="container">
				<div class="row">
					<div class="col">
						<div class="section-header section-header--center section-header--medium-margin">
							<h4>Contact us</h4>
							<h2>Get in Touch</h2>
						</div>
						<form action="#" class="form contact-form" id="contact-form">
							<input type="text" name="Name" class="form__input" placeholder="Name">
							<input type="email" name="Email" class="form__input" placeholder="Email">
							<textarea name="Message" class="form__textarea" placeholder="Message"></textarea>
							<button class="form__btn btn btn--uppercase btn--orange"><span>Send message</span></button>
						</form>
					</div>
				</div>
			</div>
			<img src="img/subscribe-bg.png" class="contact-bg" alt="">
		</section>

		<footer class="footer">
			<div class="container">
				<div class="row">
					<div class="col-lg-4">
						<a href="#" class="logo">
							<div class="logo__img logo__img--big">

							</div>

							<div class="logo__title">Utopia Token</div>
						</a>
						<div class="copyright">© 2021, Utopia </div>
					</div>
					<div class="col-lg-4">
						<div class="social-block">
							<div class="social-block__title">
								Stay connected:
							</div>

							<ul class="social-list">
								<li class="social-list__item">

									<a href="#" class="social-list__link">
										<i class="fontello-icon icon-twitter">&#xf309;</i>
									</a>
								</li>
								<li class="social-list__item">
									<a href="#" class="social-list__link">
										<i class="fontello-icon icon-facebook">&#xf30c;</i>
									</a>
								</li>
								<li class="social-list__item">
									<a href="#" class="social-list__link">
										<i class="fontello-icon icon-telegram">&#xf2c6;</i>
									</a>
								</li>
								<li class="social-list__item">
									<a href="#" class="social-list__link">
										<i class="fontello-icon icon-bitcoin">&#xf15a;</i>
									</a>
								</li>
								<li class="social-list__item">
									<a href="#" class="social-list__link">
										<i class="fontello-icon icon-youtube-play">&#xf16a;</i>
									</a>
								</li>

							</ul>
						</div>
					</div>
					<div class="col-lg-4">
						<form action="#" class="form subscribe" id="subscribe-form">
							<div class="form__title">Subscribe
							</div>
							Don't miss out, Stay Updated!
							<span>Subscribe to our newsletter and receive information on thr ICO and other
								projects.</span>
							<div class="form__row">
								<input type="email" name="subscribe_email" class="form__input" placeholder="Email">
								<button
									class="form__btn btn btn--uppercase btn--orange btn--small"><span>Send</span></button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</footer>

	</div>

	<script src="../../../../ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
	<script>window.jQuery || document.write('<script src="js/jquery-2.2.4.min.js"><\/script>')</script>

	<script src="js/scripts.min.js"></script>

</body>

<!-- Mirrored from demo.artureanec.com/html/cryptoland/demo_4/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 27 Apr 2021 12:57:34 GMT -->

</html>