<div class="tab-pane fade" id="info2" role="tabpanel" aria-labelledby="profile-tab">
    <% if(err_msg!=undefined){ %>
        <span class="error_validate flash_msg" style="color: red;">
            <%= err_msg %>
        </span>
        <% }%>
            <% if(success_msg!=undefined){ %>
                <span class=" succ_flash_msg" style="color: green;">
                    <%= success_msg %>
                </span>
                <% }%>
                    <form method="POST" action="/user-update-Password" id="profile_form">
                        <div class="dashboard-box">
                            <div class="create-wallet-block profile-input-form">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group text-left">
                                            <label>New Password</label>
                                            <input name="password" class="form-control" type="password">
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group text-left">
                                            <label>Confirm Password</label>
                                            <input name="conf" class="form-control" type="password">
                                        </div>
                                    </div>
                                </div>
                                <div class="text-center mlti-btn">
                                    <div class="text-left mlti-btn mt-3">
                                        <button type="submit" class="btn btn-common light-green ml-0">Save</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
</div>