<form method="post" action="/forget-password" id="login">
  <h3>Entern your Email to get OTP</h3>
  <% if(err_msg!=undefined){ %>
    <span class="error_validate flash_msg" style="color: red;">
      <%= err_msg %>
    </span>
    <% }%>
      <% if(success_msg!=undefined){ %>
        <span class=" succ_flash_msg" style="color: green;">
          <%= success_msg %>
        </span>
        <% }%>
          <input type="hidden" name="_csrf" />
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Enter Email" id="email" name="email"
              data-rule-required="true" data-msg-required="Please enter Email address." data-rule-email="true"
              data-msg-email="Please enter valid Email address.">
          </div>
          <div class="btn-gorup">
            <button type="submit" id="submit_login" class="btn btn-common">Submit</button>
            <!-- <a href="buyer-dashboard" class="btn btn-common">Login</a> -->
          </div>
</form>