<head>
  <title>Utopia -User Login</title>
  <meta charset="UTF-8" />
  <meta name="description"
    content="Login to the Rowan Energy Rewards site to check how many carbon offset certificates you have created.">
  <meta name="viewport"
    content="width=device-width, initial-scale=1.0, user-scalable=1.0, minimum-scale=1.0, maximum-scale=1.0">
  <!-- Favicon -->
  <link rel="icon" type="image/png" href="assets/images/favicon.png">
  <!-- Bootstrap Core CSS -->
  <link href="assets/css/bootstrap.min.css" rel="stylesheet" />
  <link href="assets/css/bootstrap-dropdownhover.min.css" rel="stylesheet" />
  <!-- Animate CSS -->
  <link href="assets/css/animate.css" rel="stylesheet" />
  <!-- hover-min CSS -->
  <link href="assets/css/hover-min.css" rel="stylesheet" />
  <!-- yamm css -->
  <link href="assets/css/yamm.css" rel="stylesheet" />
  <!-- Font-awesome web fonts with css -->
  <link href="assets/css/fontawesome-all.css" rel="stylesheet" type="text/css" />
  <!-- Font-awesome web fonts with css -->
  <!-- loader css -->
  <link href="assets/css/loader.css" rel="stylesheet" />
  <!-- Custom CSS -->
  <link href="assets/css/custom.css" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css?family=Oxygen:300,400,700" rel="stylesheet">
  <link href="assets/css/jquery-ui.css">
</head>


<body>
  <section class="login-sec">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="signup-inner-box">
            <div class="row align-item-center">
              <div class="col-lg-5 col-md-5 col-sm-5">
              </div>
              <div class="col-lg-7 col-md-7 col-sm-7">
                <div class="main-outer">
                  <div class="signup-outer">
                    <h2>Welcome to the Utopia</h2>
                    <h4 class="for-login">Login</h4>
                    <form method="post" action="/login" id="login">
                      <input type="hidden" name="_csrf" />
                      <div class="form-group">
                        <input type="text" class="form-control" placeholder="Enter Email" id="email" name="email"
                          data-rule-required="true" data-msg-required="Please enter Email address."
                          data-rule-email="true" data-msg-email="Please enter valid Email address.">
                      </div>
                      <div class="form-group">
                        <input type="password" class="form-control" placeholder="Password" id="password" name="password"
                          type="password" data-rule-required="true" data-msg-required="Please enter Password.">
                      </div>
                      <div class="forgot-pass-link">
                        <a href="/forget-password">Forgot Password?</a>
                      </div>
                      <!-- <div class="form-group">
        <div class="g-recaptcha" data-sitekey="6Lc9U-sZAAAAABxp4fLpjUtR6vvEVX96g3hnuXcn"></div>
      </div> -->


                      <div class="btn-gorup">
                        <button type="submit" id="submit_login" class="btn btn-common">Login</button>
                        <!-- <a href="buyer-dashboard" class="btn btn-common">Login</a> -->
                        <div class="new-link-submit">Create a new acount? <a href="/signup"> Sign Up</a></div>
                      </div>
                    </form>
                  </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
  </section>
</body>